<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>
        <%= htmlWebpackPlugin.options.title %>
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1,user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="//at.alicdn.com/t/font_616134_80c2ki1pmi2uik9.css" />
    <!-- iconfont -->
    <link rel="icon" href="http://pdabc-dev.oss-cn-hangzhou.aliyuncs.com/20180503/43d63691-e814-469f-a33c-a67384f814c9.png" type="image/x-icon">
</head>
<script src="https://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
<style>
    #root {
        background: #f7f9fd;
        font-family: "PingFang-SC-Medium";
        height: auto !important;
        min-height: 100%;
    }
</style>

<body>
    <div id="root"></div>
</body>

</html>